@import url('https://db.onlinewebfonts.com/c/214992dfa3bfb1c6de9551c37f87dd5a?family=Agentur-Regular');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Open+Sans&family=Permanent+Marker&display=swap');

/* .logo {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(128deg) brightness(102%) contrast(101%);
} */

/*
 * Globals
 */

* {
  font-family: 'Open Sans', sans-serif;
}

*::-webkit-scrollbar { 
  width: 10px;
}

*::-webkit-scrollbar-track { 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background: #797979b2;
}

*::-webkit-scrollbar-thumb { 
  background: #dadadacb;
}

/* creating the light theme */

.text-bg-dark {
  color: #000;
  background-color: #8EC5FC !important;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.text-bg-dark {
  text-shadow: none;
}




/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

::-moz-selection {
  background-color: #2f3279e8;
  color: #788ebf;
  -webkit-text-fill-color: #ffffff;
}

::selection {
  background-color: #2f3279e8;
  color: #788ebf;
  -webkit-text-fill-color: #ffffff;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(24, 78, 117, .65);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(24, 78, 117, 0.5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #2B86C5;
  border-bottom-color: #2B86C56c;
}

.app-navbar h3 {
  color: transparent;
}

#tiledLogo {
  position: relative;
  white-space: nowrap;
  font-weight: 900;
  font-size: 2rem;
  /* color: #FFF; */
  margin-top: -6px;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Arizonia', cursive;
  /* padding-bottom: 4px; */
  font-style: italic;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: 0;
  word-spacing: 2px;
  letter-spacing: 2px;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-text-fill-color: #FFF; */
  background-image: linear-gradient(35deg, #E9E4F0, #D3CCE3);
  animation: change-color-logo 10s infinite;
}

.logo-primary-name {
  font-family: inherit;
}

.logo-secondary-name {
  font-family: inherit;

}

@keyframes change-color-logo {
  0% { 
    color: #4e6bb4;
    text-shadow: 0px 0px 14px #75cfff;
  }
  25% { 
    color: #457fc6; 
    text-shadow: 0px 0px 10px #73a4e0;
  }
  50% { 
    color: #4e6bb4;
    text-shadow: 0px 0px 14px #75cfff;
  }
  75% { 
    color: #457fc6; 
    text-shadow: 0px 0px 10px #73a4e0;
  }
  100% { 
    color: #4e6bb4;
    text-shadow: 0px 0px 14px #75cfff; 
  }
} 

#tiledLogo::after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  filter: invert(48%) sepia(36%) saturate(2252%) hue-rotate(180deg) brightness(84%) contrast(80%);
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
  max-width: 120px;
}

/* 
 * App Container
 */

.app-content {
  max-height: 80vh;
  /* background: #2d6bf0; */
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border: 2px solid #c7c7c713;
  border-radius: var(--bs-border-radius-lg);
}

.todo-list-data {
  max-height: 454px !important;
}

.list-item-padding {
  padding: 8px 16px;
}

.gradient-text {
  -webkit-background-clip: text;
  background-clip: 0;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(35deg, #E9E4F0, #D3CCE3);
}

.page-title {
  -webkit-user-select: none;
  user-select: none;
}

.tab-button {
  padding: 8px 16px !important;
}

.todos-status-section {
  text-shadow: 0 0 2px #FFF;
}

.all-todo-tasks {
  margin-right: 20px;
  color: #ffffff;
  text-shadow: 0px 0px 4px #141414;
}

.all-todo-tasks #totalTodoTasks {
  color: white;
}

.pending-tasks #totalPendingTasks {
  color: #f1d84f;
}

.completed-tasks #totalCompletedTasks {
  color: #5cec5c;
}

.pending-tasks {
  margin-right: 20px;
  color: #f1d84f;
  text-shadow: 0px 0px 4px #141414;
}

.completed-tasks {
  color: #5cec5c;
  text-shadow: 0px 0px 4px #141414;
}

.leading-text-content {
  font-size: clamp(18px, 1px, 2px);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
  -webkit-user-select: none;
  user-select: none;
}

.underlined {
  /*   background: red; */
  position: relative;
  top: 12px;
}

.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1px, 0px, 1px);
}
.underline-overflow:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 2px solid #19e63f;
}

.underline-overflow-create:after {
  border-color: #4fe6f1 !important;
}

.underline-overflow-manage:after {
  border-color: #f1d84f !important;
}
.underline-overflow-optimize:after {
  border-color: #52f14f !important;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgb(213 230 255 / 25%);
}

.form-check-input:checked {
  background-color: #454242;
    border-color: #ffffff;
    border-width: 2px;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(135 135 135 / 25%);
}

/* .form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23353535 !important' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M4 11 8.6 15.6 17 6'/%3e%3c/svg%3e");
} */

.nav-link {
  color: rgb(238, 238, 255);
}

.nav-link:focus, .nav-link:hover {
  border-color: #ffffff;
  /* color: #357fc1; */
}

.nav-link:hover {
  color: #d9f4ff;
}

/* .nav-underline .nav-link.active {

} */

.nav-underline .nav-link:active {
  color: #2d6bf0 !important;
}


.author {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  text-decoration: none;
  animation: change-color-author 3s infinite;
}

@keyframes change-color-author {
  0% { color: rgb(49, 49, 49); }
  50% { color: rgb(149, 147, 147); }
  100% { color: rgb(49, 49, 49); }
} 

.author {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Agentur-Regular';
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  position: relative;
}

footer p {
  color: #000 !important;
}

footer p a {
  color: transparent;
}

/* .author::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(49, 225, 87), rgb(123, 117, 230), rgb(215, 244, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: change-color-author 3s infinite;
}

@keyframes change-color-author {
  0% { left: -100%; }
  100% { left: 100%; }
} */

.list-item-label {
  margin-bottom: -4px;
  margin-left: 2px;
  margin-right: 4px;
}


/* ======= models ======= */
.model-section {
  position: absolute;
  background: #ececec9c;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden; 
}

.model-section .todo-model {
  width: 60%;
  max-width: 420px;
  margin: 0 auto;
  margin-top: 180px;
  background: #fcfcfc !important;
  border-radius: var(--bs-border-radius-lg);
  box-shadow: 0px 1px 1px 1px #333;
  height: auto;
  padding: 14px;
  color: #141414;
}

.model-section .todo-model .model-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.model-section .todo-model .model-header-center {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.model-section .todo-model .model-header h2, span {
  color:#141414;
}

.model-section .todo-model .model-header .close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #dbdbdbe8;
  border-radius: 50%;
  margin: 8px;
  color: #fdfdfd;
  background: #c65047;
  font-weight: bold;
  cursor: pointer;
}

.model-section .todo-model .model-header .close-btn:hover, .close-btn:focus {
  box-shadow: 0px 0px 10px 3px #222;
}

.model-section .todo-model .row {
  margin: 2px 10px;
  margin-top: 24px;
}

.model-section .todo-model .row .model-input-tabel {
  visibility: hidden;
  display: none;
}

.model-section .todo-model .model-action-buttons {
  margin: 20px 10px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.quick-action-btn {
  cursor: pointer;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0px 2px 0px 0px #393939;
}

.default-btn {
  color: #4d4d4d;
  background: #e9e9e9;
}

.default-btn:hover, .default-btn:focus {
  background: #cacaca;
  box-shadow: 0px 2px 0px 2px #393939;
}

.clear-btn {
  color: #FFF !important;
  background: #e42b2b !important;
}

.clear-btn:hover, .clear-btn:focus {
  background: #c22020 !important;
  box-shadow: 0px 2px 0px 1px #393939;
}

/* ================================================================ */

.all-todo-list-group {
  min-height: 40vh;
}

.toast-body {
  color: #3a3a3a;
}

.modal-header {
  color:#163c75;
  font-weight: 700;
}

.modal-body {
  color: #3a3a3a !important;
}

@media (max-width: 768px) {
  #tiledLogo::after {
    margin: 16px auto;
    margin-bottom: 8px;
  }
}

